  
  form {
    margin: 2em 0;
  }

   
  .field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
  }

  .labelTextfeild, .textFeild {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  .textFeild {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
  }
  
  .textFeild:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }
  
  .labelTextfeild {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .textFeild:placeholder-shown + .labelTextfeild {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }

  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }

  .textFeild:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  .textFeild:not(:placeholder-shown) + .labelTextfeild,
  .textFeild:focus + .labelTextfeild {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }